//color
$light: #fff;

$dark: #141414;
$dark-1: #202020;

$gray: #202020;

$yellow: #ffd610;
$success: #10a342;

$series-a: #23bde0;
$series-b: #ffd246;
$series-c: #78d237;
$series-d: #28b4c8;
$series-e: #2d73f5;
$series-f: #aa46be;

//font size
$mini-small-size: 12px;
$small-size: 14px;
$medium-size: 16px;
$large-size: 18px;
